.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--navbar);
  padding: 18px 20px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid var(--border);
}

.navbar .logo a {
  color: var(--white);
  font-size: 20px;
}

.navbar .links {
  display: flex;
  gap: 20px;
}

.navbar .links a {
  color: var(--white);
  font-size: 16px;
}
