.navbar {
  background-color: var(--navbar);
  border-bottom: 1px solid var(--border);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-radius: 10px;
}

.navbar .logo a {
  color: var(--white);
  font-weight: bold;
  font-size: 20px;
}

.navbar .links {
  display: flex;
  gap: 30px;
}

.navbar .links a {
  color: var(--white);
  font-size: 16px;
  transition: .2s;
  &:hover {
    color: var(--p);
  }
}
