@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --background: #11161F;
  --navbar: #1D2229;
  --border: #45484D;
  --white: #fff;
  --black: #000;
  --p: #BEC3C0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Rubik", sans-serif;

}

body {
  background-color: var(--background);
}

.container {
  width: 90%;
  margin: auto;
  max-width: 950px;
}
